@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    min-height: 100vh;
    background-color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #251605;
    padding: 25px 20px;
    transition: all 0.4s ease;
    z-index: 1;
}

.sidebar:hover {
    width: 260px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;
}

.sidebar-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span {
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
    opacity: 1;
}

.sidebar-links h4 {
    color: white;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background-color: #b07600;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: azure;
    font-weight: 500;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover {
    background-color: #c59506;
    color: white;
    border-radius: 4px;
}

.user-account {
    margin-top: 2rem;
    padding: 5px 15px;
    margin-left: -11px;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: white;
}

.user-profile img {
    width: 42px;
    border-radius: 100%;
}

.user-details {
    margin-left: 23px;
    white-space: nowerap;
}

.user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
}

.user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
    display: block;
    margin-top: 0;
}

.sidebar:hover .user-account {
    background-color: #dfa805;
    border-radius: 4px;
}

.containerDescription {
    position: relative;
    width: calc(100% - 85px);
    left: 85px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.4s ease;
    border-bottom: 2px solid #e4e4e4;
}

.sidebar:hover~.containerDescription,
.sidebar:hover~.containerKpi, 
.sidebar:hover~.containerKpis,
.sidebar:hover~.graphics,
.sidebar:hover~.containerTemp {
    width: calc(100% - 260px);
    left: 260px;
}

.description h1 {
    color: #7a4a09;
    padding: 20px;
    font-size: 22px;
}

.containerKpis{
    position: relative;
    width: calc(100% - 180px);
    left: 133px;
    height: 150px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: all 0.4s ease;
}

.containerKpis .kpi1,
.kpi2,
.kpi3,
.kpi4 {
    margin-bottom: 60px;
    margin-top: 30px;
    color: #FFFFFF;
    background-color:#dfa805;
    border-radius: 5px;
    width: 250px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: 8px;
    -webkit-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
}

.containerKpi {
    position: relative;
    width: calc(100% - 85px);
    left: 85px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.4s ease;
}

.containerKpi .kpi1 {
    position: relative;
    width: calc(100% - 85px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    gap: 20px;
    height: 150px;
    background-color:#FFFFFF;
}

.alerta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFBB00;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 360px;
    height: 150px;
    font-size: 12px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
}

.ideal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #129900;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    width: 360px;
    height: 150px;
    font-size: 12px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
}

.critico {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FF0000;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    width: 360px;
    height: 150px;
    font-size: 12px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
}

.containerTemp {
    position: relative;
    width: calc(100% - 180px);
    left: 133px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    color: #251605;
}

.graphics {
    position: relative;
    width: calc(100% - 180px);
    left: 133px;
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: all 0.4s ease;
}

.temp, .umi {
    width: 520px;
    height: 380px;
    background: #ffffff;
    padding: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
}

canvas {
    width: 102% !important;
    height: 100% !important;
}