@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    min-height: 100vh;
    background-color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(98, 52, 0);
    padding: 25px 20px;
    transition: all 0.4s ease;
    z-index: 1;
}

.sidebar:hover {
    width: 260px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;
}

.sidebar-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span {
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
    opacity: 1;
}

.sidebar-links h4 {
    color: white;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background-color: #b07600;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: azure;
    font-weight: 500;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover {
    background-color: #7a4a09;
    color: white;
    border-radius: 4px;
}

.user-account {
    margin-top: 2rem;
    padding: 5px 15px;
    margin-left: -11px;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: white;
}

.user-profile img {
    width: 42px;
    border-radius: 100%;
}

.user-details {
    margin-left: 23px;
    white-space: nowerap;
}

.user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
}

.user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
    display: block;
    margin-top: 0;
}

.sidebar:hover .user-account {
    background-color: #7a4a09;
    border-radius: 4px;
}

.containerDescription {
    position: relative;
    width: calc(100% - 85px);
    left: 85px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.4s ease;
    border-bottom: 2px solid #e4e4e4;
}


.sidebar:hover~.containerDescription,
.sidebar:hover~.containerKpi {
    width: calc(100% - 260px);
    left: 260px;
    
}

.description h1 {
    color: #7a4a09;
    padding: 20px;
    font-size: 22px;
}

.containerKpi {
    position: relative;
    width: calc(100% - 85px);
    left: 85px;
    height: 70px;
    padding: 50px;
    transition: all 0.4s ease;
}

.containerKpi .kpi
 {               /* kpis certas */
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    
    border-radius: 5px;
    height: 115px;
    -webkit-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 87px -37px rgba(0,0,0,0.59);
    padding: 15px;

    transition: transform 0.3s ease-in-out; /* Efeito de zoom */
}



.kpi:hover {
    transform: scale(1.05); /* Aumenta o tamanho da caixa ao passar o mouse */
}



.verde{
    background-color:#00b046;
}

.vermelho {                 /* kpi fora do limite */
   
    background-color:#b02900;
    color: white;
   
    
}

.vermelho h1 {
    color:white;
}

h1 { color: black;

}



.kpi img {
    
  margin-right: 0px;
    
    width: 50px;
    
    
}

  