/* Adicionar aqui toda a estilização criada para sua aplicação. */
/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

<<<<<<< HEAD


/* bloco de criação de variavéis para padronização */
:root {
  /* Cores */
  --white-color: #f5f5f5; /* Cor branca */
  --dark-color: #030320; /* Cor escura */
  --primary-color: #331e07; /* Cor primária */
  --secondary-color: #c59506; /* Cor secundária */
  --secondary-color-variacao: #dfa805;
  --light-pink-color: #faf4f5; /* Cor rosa claro */ 
  --medium-gray-color: #ccc; /* Cinza médio */
  --black-color: #000000;
  --golden-yellow: #FFD700;
  --warm-beige: #F5DEB3;
  --soft-brown: #A0522D;
  --dark-charcoal: #2F2F2F;
  --cream-white: #f3f2db;
  --amber-orange: #FFBF00;
  --midnight-blue: #191970;
  --dark-slate-blue: #483D8B;
  --navy-blue: #000080;
  --prussian-blue: #003153;
  --indigo-dye: #00416A;
  --oxford-blue: #002147;
  --space-cadet: #1d2951ee;
  --complementar: #005e96;
  --backgroud-transparent: #00000088;
  --bg-gradient: linear-gradient(to left,  rgb(0, 0, 69), #030320, #1a1a40, #1b1b37, #252537);
  

  /* Tamanhos de fonte */
  --font-size-s: 0.9rem; /* Fonte pequena */
  --font-size-n: 1rem; /* Fonte normal */
  --font-size-m: 1.12rem; /* Fonte média */
  --font-size-l: 1.5rem; /* Fonte grande */
  --font-size-xl: 2rem; /* Fonte extra grande */
  --font-size-xxl: 2.3rem; /* Fonte extra extra grande */

  /* Espessuras da fonte */
  --font-weight-normal: 400; /* Peso normal */
  --font-weight-medium: 500; /* Peso médio */
  --font-weight-semibold: 600; /* Peso semi-negrito */
  --font-weight-bold: 700; /* Peso negrito */

  /* Raio da borda */
  --border-radius-s: 8px; /* Raio pequeno */
  --border-radius-m: 30px; /* Raio médio */
  --border-radius-circle: 50%; /* Bordas circulares */

  /* Largura máxima do site */
  --site-max-width: 1300px; /* Largura máxima do conteúdo */
}



a {
    text-decoration: none; /* Remove sublinhado de links */
  }
  ul {
    list-style: none; /* Remove marcadores das listas */
  }
  
  
=======
a {
  text-decoration: none;
  /* Remove sublinhado de links */
}

ul {
  list-style: none;
  /* Remove marcadores das listas */
}

>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f

/* Bloco Estilização da barra de navegação (navbar) */
header {
<<<<<<< HEAD
  z-index: 5; /* Coloca o header acima de outros elementos */
  width: 100%; /* O header ocupa 100% da largura da tela */
  position: absolute; /* Fixa o header no topo durante o scroll */
  top: 0; /* Garante que o header fique fixo no topo */
  left: 0; /* Garante que o header ocupe toda a largura */
 
  padding: 8px 0; /* Adiciona espaçamento no topo e na parte inferior */
}
header .navbar {
  display: flex; /* Utiliza flexbox para alinhar itens */
  padding-right: 0px; /* Ajusta o espaçamento à esquerda */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between;
  gap: 50px;
  max-width: var(--site-max-width); /* Define a largura máxima da navbar */
}
.navbar .nav-logo {
 margin-left: 40px;
=======
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
}

header .navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030320;
}

.navbar .nav-logo .logo-text {
  color: #fff;
  /* Define a cor do texto do logo */
  font-size: 2rem;
  /* Define o tamanho da fonte do logo */
  font-weight: 600;
  /* Define o peso da fonte */
  white-space: nowrap;
  /* Impede quebra de linha */

}

.nav-logo h2::after {
  content: "";
  /* Adiciona conteúdo vazio após o título */
  width: 0;
  /* Define largura como 0 para remover a linha */
  height: 0;
  /* Define altura como 0 para remover a linha */
  display: block;
  /* Exibe o elemento como bloco */
  margin: 0;
  /* Remove margens */
  background: none;
  /* Remove qualquer fundo */
  border-radius: 0;
  /* Remove bordas arredondadas, se houver */
}

.navbar .nav-menu {
  gap: 10px;
  /* Define o espaço entre os itens do menu */
  display: flex;
  /* Utiliza flexbox para os itens do menu */
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  /* Adiciona espaçamento interno */
  color: #fff;
  /* Define a cor do link */
  font-size: 1.12rem;
  /* Define o tamanho da fonte */
  border-radius: 30px;
  /* Define bordas arredondadas */
  transition: 0.3s ease;
  /* Adiciona transição suave */
}

.navbar .nav-menu .nav-link:hover {
  color: #8C7853;
  /* Altera a cor do texto ao passar o mouse */
  background: #c59506;
  /* Altera a cor de fundo ao passar o mouse */
}

/* Esconde os botões do menu para telas grandes */
.navbar :where(#menu-open-button, #menu-close-button) {
  display: none;
  /* Não exibe os botões de abrir e fechar o menu */
}


body {

  margin: 0;
  font-family: "Poppins", sans-serif;
  /* Define a fonte padrão para o site */


}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f
}
.navbar .nav-menu {
  display: flex; /* Utiliza flexbox para os itens do menu */
  width: 15%;
  gap: 5px; /* Define o espaço entre os itens do menu */
}
.navbar .nav-menu .nav-link {
  padding: 10px 18px; /* Adiciona espaçamento interno */
  color: var(--cream-white); /* Define a cor do link */
  font-size: var(--font-size-m); /* Define o tamanho da fonte */
  border-radius: var(--border-radius-m); /* Define bordas arredondadas */
  transition: 0.3s ease; /* Adiciona transição suave */
}
.navbar .nav-menu .nav-link:hover {
  color: var(--white-color); /* Altera a cor do texto ao passar o mouse */
  background: var(--secondary-color); /* Altera a cor de fundo ao passar o mouse */
}
/* bloco para esconder os botões do menu para telas grandes */
.navbar :where(#menu-open-button, #menu-close-button) {
  display: none; /* Não exibe os botões de abrir e fechar o menu */
}
 
  
  



.titulo {
  color: #c59506;
  font-family: "Miniver", sans-serif;
<<<<<<< HEAD
  
}

body {
=======

}

.navbar {
  display: flex;
  list-style: none;
  width: 300px;
  justify-content: space-between;
  color: #E3b062;
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f

  margin: 0;
  font-family: "Poppins", sans-serif; /* Define a fonte padrão para o site */
  

}

<<<<<<< HEAD

=======
.navbar a {
  color: #E3b062;
  text-decoration: none;

}

.banner {
  height: 400px;
  width: 100%;
  background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");

}
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f

.banner .container {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}




.banner .container p {
  margin: 0;
  color: white;
  font-size: 28px;
  width: 170px;
}


.banner .container p span {
  font-weight: bold;


}



.social {

  height: 400px;
  width: 100%;
  background-color: #DCDCDC;


}

.social .container {
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  display: flex
}


.boxes {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;



}

.box img {
  width: 120px;
  height: 120px;

}



.box {

  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}





<<<<<<< HEAD
.login{
    height: 820px;
    width: 100%;
    background-image: url("../imgs/salaMaturacao.png");
    display: flex;
    justify-content: center;
    align-items: center;
=======
.login {
  height: 750px;
  width: 100%;
  background-image: url("../imgs/salaMaturacao.png");
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f
}



<<<<<<< HEAD
.login .container .card-login  {
    
    height: 480px;
    width: 750px;
    border-radius:20px;
    background-color: #faf4f5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
=======
.login .container .card-login {

  height: 400px;
  width: 750px;
  border-radius: 20px;
  background-color: #faf4f5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f
}

.login .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

h2 {
  color: black;
  font-size: 2rem;

}

h2::after {
<<<<<<< HEAD
    content: ""; /* Adiciona conteúdo vazio após o título */
    width: 80px; /* Define largura da linha */
    height: 5px; /* Define altura da linha */
    display: block; /* Exibe o elemento como bloco */
    margin: 10px auto 0; /* Adiciona margens */
    background: var(--golden-yellow);
    border-radius: 8px; /* Define bordas arredondadas */
  }
  
  
=======
  content: "";
  /* Adiciona conteúdo vazio após o título */
  width: 80px;
  /* Define largura da linha */
  height: 5px;
  /* Define altura da linha */
  display: block;
  /* Exibe o elemento como bloco */
  margin: 10px auto 0;
  /* Adiciona margens */
  background: #c59506;
  border-radius: 8px;
  /* Define bordas arredondadas */
}


>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f




.formulario {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  justify-content: center
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%
}

.campo input {
  margin: 15px;
  border: 0.1px solid #897954;
  border-radius: 15px;

  width: 65%;
  height: 30px;

  text-align: left;

}

.formulario .botao {


<<<<<<< HEAD
=======
  padding: 10px 28px;
  /* Adiciona espaçamento interno (10px acima e abaixo, 28px nas laterais) */
  outline: none;
  /* Remove a borda de foco padrão que aparece em alguns navegadores */
  margin-top: 10px;
  /* Adiciona uma margem superior de 10px, afastando o botão de outros elementos acima */
  border: 1px solid #8C7853;
  /* Define uma borda de 1px, usando a cor primária definida nas variáveis */
  border-radius: 30px;
  background: #8C7853;
  /* Define a cor de fundo do botão como a cor primária */
  color: white;
  transition: 0.3s ease;
  /* Adiciona uma transição suave de 0.3 segundos para qualquer mudança de estilo */


>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f


<<<<<<< HEAD
    margin-top: 30px; /* Margem superior de 30px */
    display: inline-block; /* Exibe o botão como um elemento inline-block */
    padding: 15px 30px; /* Padding interno de 15px verticalmente e 30px horizontalmente */
    font-size: 18px; /* Tamanho da fonte */
    color: #fff; /* Cor branca */
    background-color: var(--amber-orange); /* Fundo laranja */
    border: none; /* Remove a borda */
    border-radius: 35px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de clique */
    text-decoration: none; /* Remove a sublinha de links */
    transition: 0.3s ease; /* Transição suave ao passar o mouse */
  }


  /* Muda a cor e o fundo do botão ao passar o mouse sobre ele */
  .formulario .botao:hover {

  /* Ao passar o mouse sobre o botão, a cor do fundo muda para amarelo e
     a sombra se intensifica */
     
      background-color: var(--golden-yellow); /* Muda a cor de fundo para amarelo */
    }
    /* Remove o contorno padrão do botão ao focar nele */
    .btn:focus {
      outline: none; /* Remove o outline padrão */
      }
  
     

.campo span {
    color: var(--secondary-color);
    font-weight: bold;
    align-self: center;
    
}
=======
/* Estilo dos botões ao passar o mouse */
.formulario .botao:hover {
  color: var(--white-color);
  /* Altera a cor do texto */
  border-color: var(--white-color);
  /* Altera a cor da borda */
  background: transparent;
  /* Remove a cor de fundo */
}



.campo span {
  color: #bf9710;
  font-weight: bold;
  align-self: center;
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f

}


.cadastro {
  width: 100%;
  background-image: url("../imgs/background_cadastro.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro .container .card-cadastro {
<<<<<<< HEAD

height: 100%;

    width: 700px;
    border-radius:20px;
    background-color: #faf4f5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top:100px;  
    margin-bottom: 45px; 
    
    
    z-index: 5;
    
=======
  width: 1000px;
  height: 100%;
  border-radius: 5px;
  background-color: #faf4f5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 50px;
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f
}

.cadastro .container h2 {
  color: black;
  font-size: 2rem;

}

/* Estilização para seções e rodapé */
:where(section, footer) .section-content {
  margin: 0 auto;
  /* Centraliza o conteúdo */
  padding: 0 20px;
  /* Adiciona espaçamento nas laterais */
  max-width: 1300px;
  /* Define largura máxima */
}

<<<<<<< HEAD
 .footer-section {
    padding: 20px 0;
    background: #261606;
  }
  
=======

.footer-section {
  padding: 20px 0;
  background: #030320;
}
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f




<<<<<<< HEAD
  .footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: #FFFF;
    transition: 0.2s ease;
  }
  
  .footer-section .social-link-list {
    display: flex;
    gap: 25px;
  }
  
  .footer-section .social-link-list .social-link {
    font-size: 1.5rem;
  }
  
  .footer-section .social-link-list .social-link:hover,
  .footer-section .policy-text .policy-link:hover {
    color: var(--golden-yellow);
  }
  
  .footer-section .policy-text .separator {
    color: #fff;
    margin: 0 5px;
  }
=======

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: #ffffff;
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: 1.5rem;
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
  color: #c59506;
}

.footer-section .policy-text .separator {
  color: #fff;
  margin: 0 5px;
}
>>>>>>> ca03c3a977411c99075e0a1bbb95a845c9b3a59f
