/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* Estilos globais */
* {
  padding: 0; /* Remove espaçamento interno */
  margin: 0; /* Remove espaçamento externo */
  box-sizing: border-box; /* Define a box model para incluir borda e padding no tamanho do elemento */
  font-family: "Poppins", sans-serif; /* Define a fonte padrão para o site */
}

/* Variáveis CSS (root) */
:root {
  /* Cores */
  --white-color: #fff; /* Cor branca */
  --dark-color: #252525; /* Cor escura */
  --primary-color: #8C7853; /* Cor primária */
  --secondary-color: #eeb400; /* Cor secundária */
  --light-pink-color: #faf4f5; /* Cor rosa claro */
  --medium-gray-color: #ccc; /* Cinza médio */

  /* Tamanhos de fonte */
  --font-size-s: 0.9rem; /* Fonte pequena */
  --font-size-n: 1rem; /* Fonte normal */
  --font-size-m: 1.12rem; /* Fonte média */
  --font-size-l: 1.5rem; /* Fonte grande */
  --font-size-xl: 2rem; /* Fonte extra grande */
  --font-size-xxl: 2.3rem; /* Fonte extra extra grande */

  /* Espessuras da fonte */
  --font-weight-normal: 400; /* Peso normal */
  --font-weight-medium: 500; /* Peso médio */
  --font-weight-semibold: 600; /* Peso semi-negrito */
  --font-weight-bold: 700; /* Peso negrito */

  /* Raio da borda */
  --border-radius-s: 8px; /* Raio pequeno */
  --border-radius-m: 30px; /* Raio médio */
  --border-radius-circle: 50%; /* Bordas circulares */

  /* Largura máxima do site */
  --site-max-width: 1300px; /* Largura máxima do conteúdo */
}

/* Comportamento do scroll suave */
html {
  scroll-behavior: smooth; /* Faz o scroll da página ser suave */
}

/* Estilização global para o site */
ul {
  list-style: none; /* Remove marcadores das listas */
}

a {
  text-decoration: none; /* Remove sublinhado de links */
}

button {
  cursor: pointer; /* Altera o cursor ao passar sobre o botão */
  background: none; /* Remove cor de fundo */
  border: none; /* Remove borda */
}

img {
  width: 100%; /* Define as imagens para ocupar 100% da largura do elemento pai */
}

/* Estilização para seções e rodapé */
:where(section, footer) .section-content {
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 0 20px; /* Adiciona espaçamento nas laterais */
  max-width: var(--site-max-width); /* Define largura máxima */
}

/* Título das seções */
section .section-title {
  text-align: center; /* Centraliza o texto */
  padding: 60px 0 100px; /* Adiciona espaçamento acima e abaixo */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-size: var(--font-size-xl); /* Define o tamanho da fonte */
}

section .section-title::after {
  content: ""; /* Adiciona conteúdo vazio após o título */
  width: 80px; /* Define largura da linha */
  height: 5px; /* Define altura da linha */
  display: block; /* Exibe o elemento como bloco */
  margin: 10px auto 0; /* Adiciona margens */
  background: var(--secondary-color); /* Define cor da linha */
  border-radius: var(--border-radius-s); /* Define bordas arredondadas */
}

/* Estilização da barra de navegação (navbar) */
header {
  z-index: 5; /* Coloca o header acima de outros elementos */
  width: 100%; /* O header ocupa 100% da largura da tela */
  position: fixed; /* Fixa o header no topo durante o scroll */
  background: var(--primary-color); /* Define a cor de fundo do header */
}

header .navbar {
  display: flex; /* Utiliza flexbox para alinhar itens */
  padding: 20px; /* Adiciona espaçamento */
  align-items: center; /* Alinha os itens verticalmente */
  margin: 0 auto; /* Centraliza horizontalmente */
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
  max-width: var(--site-max-width); /* Define a largura máxima da navbar */
}

.navbar .nav-logo .logo-text {
  color: var(--white-color); /* Define a cor do texto do logo */
  font-size: var(--font-size-xl); /* Define o tamanho da fonte do logo */
  font-weight: var(--font-weight-semibold); /* Define o peso da fonte */
}

.navbar .nav-menu {
  gap: 10px; /* Define o espaço entre os itens do menu */
  display: flex; /* Utiliza flexbox para os itens do menu */
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px; /* Adiciona espaçamento interno */
  color: var(--white-color); /* Define a cor do link */
  font-size: var(--font-size-m); /* Define o tamanho da fonte */
  border-radius: var(--border-radius-m); /* Define bordas arredondadas */
  transition: 0.3s ease; /* Adiciona transição suave */
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color); /* Altera a cor do texto ao passar o mouse */
  background: var(--secondary-color); /* Altera a cor de fundo ao passar o mouse */
}

/* Esconde os botões do menu para telas grandes */
.navbar :where(#menu-open-button, #menu-close-button) {
  display: none; /* Não exibe os botões de abrir e fechar o menu */
}

/* Estilização da seção de herói (hero section) */
.hero-section {
  min-height: 100vh; /* Define a altura mínima para 100% da altura da tela */
  background: var(--primary-color); /* Define a cor de fundo da seção */
}

.hero-section .section-content {
  display: flex; /* Utiliza flexbox para layout */
  padding-top: 40px; /* Adiciona espaçamento superior */
  align-items: center; /* Alinha os itens verticalmente */
  min-height: 100vh; /* Altura mínima de 100% da tela */
  justify-content: space-between; /* Espaço entre os itens */
}

.hero-section .hero-details {
  color: var(--white-color); /* Define a cor do texto na seção */
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl); /* Define o tamanho da fonte do título */
  color: var(--secondary-color); /* Define a cor do título */
  font-family: "Miniver", sans-serif; /* Define a fonte personalizada */
}

.hero-section .hero-details .subtitle {
  margin-top: 8px; /* Adiciona margem superior */
  max-width: 70%; /* Define a largura máxima */
  font-size: var(--font-size-xl); /* Define o tamanho da fonte */
  font-weight: var(--font-weight-semibold); /* Define o peso da fonte */
}

.hero-section .hero-details .description {
  max-width: 70%; /* Define a largura máxima */
  margin: 24px 0 40px; /* Adiciona margens */
  font-size: var(--font-size-m); /* Define o tamanho da fonte */
}

.hero-section .hero-details .buttons {
  display: flex; /* Utiliza flexbox para alinhar os botões */
  gap: 23px; /* Define o espaço entre os botões */
}

.hero-section .hero-details .button {
  padding: 10px 26px; /* Adiciona espaçamento interno */
  display: block; /* Exibe como bloco */
  border: 2px solid transparent; /* Define borda transparente */
  border-radius: var(--border-radius-m); /* Define bordas arredondadas */
  background: var(--secondary-color); /* Define a cor de fundo */
  color: var(--primary-color); /* Define a cor do texto */
  font-size: var(--font-size-m); /* Define o tamanho da fonte */
  font-weight: var(--font-weight-medium); /* Define o peso da fonte */
  transition: 0.3s ease; /* Adiciona transição suave */
}

/* Estilo dos botões ao passar o mouse */
.hero-section .hero-details .button:hover,
.hero-section .hero-details .button.contact-us {
  color: var(--white-color); /* Altera a cor do texto */
  border-color: var(--white-color); /* Altera a cor da borda */
  background: transparent; /* Remove a cor de fundo */
}

.hero-section .hero-details .button.contact-us:hover {
  color: var(--primary-color); /* Altera a cor do texto */
  background: var(--secondary-color); /* Altera a cor de fundo */
  border-color: var(--secondary-color); /* Altera a cor da borda */
}
/* Estilos para imagens na seção hero */
.hero-section .hero-image-wrapper {
    max-width: 500px; /* Define a largura máxima da imagem na seção hero */
    margin-right: 30px; /* Adiciona uma margem à direita da imagem */
  }
  
  /* Estilização da seção sobre (About) */
  .about-section {
    padding: 120px 0; /* Adiciona espaçamento superior e inferior à seção */
    background: var(--light-pink-color); /* Define a cor de fundo da seção */
  }
  
  .about-section .section-content {
    display: flex; /* Utiliza o flexbox para o layout */
    gap: 50px; /* Define o espaçamento entre os elementos filhos */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui o espaço entre os itens */
  }
  
  .about-section .about-image-wrapper .about-image {
    height: 400px; /* Define a altura da imagem */
    width: 400px; /* Define a largura da imagem */
    object-fit: cover; /* Faz com que a imagem preencha seu espaço sem distorcer */
    border-radius: var(--border-radius-circle); /* Aplica bordas arredondadas à imagem */
  }
  
  .about-section .about-details {
    max-width: 50%; /* Define a largura máxima para os detalhes sobre */
  }
  
  .about-section .about-details .section-title {
    padding: 0; /* Remove o espaçamento padrão do título */
  }
  
  .about-section .about-details .text {
    line-height: 30px; /* Define a altura da linha para melhor legibilidade */
    margin: 50px 0 30px; /* Define margens superior e inferior */
    text-align: center; /* Centraliza o texto */
    font-size: var(--font-size-m); /* Define o tamanho da fonte */
  }
  
  .about-section .social-link-list {
    display: flex; /* Utiliza flexbox para a lista de links sociais */
    gap: 25px; /* Define o espaçamento entre os links */
    justify-content: center; /* Centraliza os links na linha */
  }
  
  .about-section .social-link-list .social-link {
    color: var(--primary-color); /* Define a cor do link social */
    font-size: var(--font-size-l); /* Define o tamanho da fonte do link */
    transition: 0.2s ease; /* Define uma transição suave para mudanças de estilo */
  }
  
  .about-section .social-link-list .social-link:hover {
    color: var(--secondary-color); /* Altera a cor do link ao passar o mouse */
  }
  
  /* Estilização da seção de menu */
  .menu-section {
    color: var(--white-color); /* Define a cor do texto na seção de menu */
    background: var(--dark-color); /* Define a cor de fundo da seção */
    padding: 50px 0 100px; /* Adiciona espaçamento superior e inferior */
  }
  
  .menu-section .menu-list {
    display: flex; /* Utiliza flexbox para o layout da lista de menu */
    gap: 110px; /* Define o espaçamento entre os itens do menu */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha, se necessário */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui o espaço entre os itens */
  }
  
  .menu-section .menu-list .menu-item {
    display: flex; /* Utiliza flexbox para o layout do item de menu */
    text-align: center; /* Centraliza o texto dentro do item de menu */
    flex-direction: column; /* Alinha os filhos em coluna */
    align-items: center; /* Centraliza os itens filhos na horizontal */
    justify-content: space-between; /* Distribui o espaço entre os itens filhos */
    width: calc(100% / 3 - 110px); /* Define a largura dos itens de menu */
  }
  
  .menu-section .menu-list .menu-item .menu-image {
    width: 83%; /* Define a largura da imagem do item de menu */
    aspect-ratio: 1; /* Mantém a proporção quadrada da imagem */
    margin-bottom: 15px; /* Adiciona uma margem inferior à imagem */
    object-fit: contain; /* Faz com que a imagem se ajuste ao espaço sem distorcer */
  }
  
  .menu-section .menu-list .menu-item .name {
    margin: 12px 0; /* Define margens superior e inferior para o nome do item */
    font-size: var(--font-size-l); /* Define o tamanho da fonte para o nome do item */
    font-weight: var(--font-weight-semibold); /* Aplica um peso de fonte semibold */
  }
  
  .menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m); /* Define o tamanho da fonte para a descrição do item */
  }
  
  /* Estilização da seção de depoimentos (Testimonials) */
  .testimonials-section {
    padding: 50px 0 100px; /* Adiciona espaçamento superior e inferior */
    background: var(--light-pink-color); /* Define a cor de fundo da seção */
  }
  
  .testimonials-section .slider-wrapper {
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do contêiner */
    margin: 0 60px 50px; /* Define margens para a parte superior, inferior e laterais */
  }
  
  .testimonials-section .testimonial {
    user-select: none; /* Impede que o usuário selecione o texto */
    padding: 35px; /* Adiciona preenchimento interno à seção de depoimentos */
    display: flex; /* Utiliza flexbox para o layout do depoimento */
    flex-direction: column; /* Alinha os filhos em coluna */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto dentro do depoimento */
  }
  
  .testimonials-section .testimonial .user-image {
    width: 180px; /* Define a largura da imagem do usuário */
    height: 180px; /* Define a altura da imagem do usuário */
    margin-bottom: 50px; /* Adiciona uma margem inferior à imagem do usuário */
    object-fit: cover; /* Faz com que a imagem preencha seu espaço sem distorcer */
    border-radius: var(--border-radius-circle); /* Aplica bordas arredondadas à imagem */
  }
  
  .testimonials-section .testimonial .name {
    margin-bottom: 16px; /* Adiciona margem inferior ao nome do usuário */
    font-size: var(--font-size-m); /* Define o tamanho da fonte para o nome do usuário */
  }
  
  .testimonials-section .testimonial .feedback {
    line-height: 25px; /* Define a altura da linha para melhor legibilidade do feedback */
  }
  
  .testimonials-section .swiper-pagination-bullet {
    width: 15px; /* Define a largura dos pontos de paginação */
    height: 15px; /* Define a altura dos pontos de paginação */
    opacity: 1; /* Define a opacidade dos pontos de paginação */
    background: var(--secondary-color); /* Define a cor de fundo dos pontos de paginação */
  }
  
  .testimonials-section .swiper-slide-button {
    color: var(--secondary-color); /* Define a cor do botão de navegação */
    margin-top: -50px; /* Ajusta a posição do botão para cima */
    transition: 0.3s ease; /* Define uma transição suave para mudanças de estilo */
  }
  
  .testimonials-section .swiper-slide-button:hover {
    color: var(--primary-color); /* Altera a cor do botão ao passar o mouse */
  }
  
  /* Estilização da seção de galeria */
  .gallery-section {
    padding: 50px 0 100px; /* Adiciona espaçamento superior e inferior */
  }
  
  .gallery-section .gallery-list {
    display: flex; /* Utiliza flexbox para o layout da lista de galeria */
    gap: 32px; /* Define o espaçamento entre os itens da galeria */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha, se necessário */
  }
  
  .gallery-section .gallery-list .gallery-item {
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do item da galeria */
    border-radius: var(--border-radius-s); /* Aplica bordas arredondadas ao item da galeria */
    width: calc(100% / 3 - 32px); /* Define a largura do item da galeria */
  }
  
  .gallery-section .gallery-item .gallery-image {
    width: 100%; /* Define a largura da imagem da galeria */
    height: 100%; /* Define a altura da imagem da galeria */
    cursor: zoom-in; /* Altera o cursor para indicar que a imagem pode ser ampliada */
    transition: 0.3s ease; /* Define uma transição suave para mudanças de estilo */
  }
  
  .gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3); /* Aumenta a imagem ao passar o mouse */
  }
  
  /* Estilização da seção de contato */
  .contact-section {
    padding: 50px 0 100px; /* Adiciona espaçamento superior e inferior */
    background: var(--light-pink-color); /* Define a cor de fundo da seção */
  }
  
  .contact-section .section-content {
    display: flex; /* Utiliza flexbox para o layout da seção de contato */
    gap: 48px; /* Define o espaçamento entre os elementos */
    align-items: center; /* Alinha os itens verticalmente ao centro */
  }
  
  .contact-section .contact-details {
    max-width: 50%; /* Define a largura máxima para os detalhes de contato */
  }
  
  .contact-section .contact-details .section-title {
    padding: 0; /* Remove o espaçamento padrão do título */
  }
  
  .contact-section .contact-details .text {
    line-height: 30px; /* Define a altura da linha para melhor legibilidade */
    margin: 20px 0; /* Define margens superior e inferior */
  }
  
  .contact-section .contact-details .text .bold {
    font-weight: var(--font-weight-semibold); /* Aplica um peso de fonte semibold ao texto em negrito */
  }
  
  .contact-section .contact-form {
    width: 100%; /* Define a largura total do formulário de contato */
    border: 1px solid var(--dark-color); /* Define uma borda para o formulário */
    border-radius: var(--border-radius-s); /* Aplica bordas arredondadas ao formulário */
    padding: 30px; /* Adiciona preenchimento interno ao formulário */
    background: white; /* Define a cor de fundo do formulário */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aplica sombra ao formulário */
  }
  
  .contact-section .contact-form input,
  .contact-section .contact-form textarea {
    width: 100%; /* Define a largura total dos campos de entrada e textarea */
    margin-bottom: 20px; /* Adiciona margem inferior aos campos */
    padding: 12px; /* Adiciona preenchimento interno aos campos */
    border: 1px solid var(--dark-color); /* Define uma borda para os campos */
    border-radius: var(--border-radius-s); /* Aplica bordas arredondadas aos campos */
    transition: border-color 0.3s ease; /* Define uma transição suave para mudanças de borda */
  }
  
  .contact-section .contact-form input:focus,
  .contact-section .contact-form textarea:focus {
    border-color: var(--secondary-color); /* Altera a cor da borda ao focar nos campos */
  }
  
  .contact-section .contact-form button {
    background: var(--primary-color); /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    padding: 12px; /* Adiciona preenchimento interno ao botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: var(--border-radius-s); /* Aplica bordas arredondadas ao botão */
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
    transition: background 0.3s ease; /* Define uma transição suave para mudanças de fundo */
  }
  
  .contact-section .contact-form button:hover {
    background: var(--secondary-color); /* Altera a cor de fundo do botão ao passar o mouse */
  }
  
  /* Estilização para rodapé */
  footer {
    padding: 50px 0; /* Adiciona espaçamento superior e inferior ao rodapé */
    background: var(--dark-color); /* Define a cor de fundo do rodapé */
  }
  
  footer .footer-content {
    display: flex; /* Utiliza flexbox para o layout do conteúdo do rodapé */
    gap: 50px; /* Define o espaçamento entre os elementos do rodapé */
    justify-content: center; /* Centraliza os itens do rodapé */
  }
  
  footer .footer-content .footer-item {
    text-align: center; /* Centraliza o texto dentro do item do rodapé */
    color: var(--white-color); /* Define a cor do texto do item do rodapé */
  }
  
  footer .footer-content .footer-item a {
    color: var(--white-color); /* Define a cor dos links no rodapé */
    transition: color 0.3s ease; /* Define uma transição suave para mudanças de cor dos links */
  }
  
  footer .footer-content .footer-item a:hover {
    color: var(--secondary-color); /* Altera a cor do link ao passar o mouse */
  }
  
  
  